@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";

    string ObtenerTipoIngreso(int tipo)
    {
        return tipo == 2 ? "Único" : "Mensual";
    }

    string ObtenerTipoEgreso(int tipo)
    {
        return tipo == 2 ? "Único" : (tipo == 3 ? "Cuota" : "Suscripción");
    }

    float SumatoriaIngresos(IEnumerable<Ingreso> ingresos)
    {
        return ingresos.Sum(ingreso => ingreso.Valor);
    }

    float SumatoriaEgresos(IEnumerable<Egreso> egresos)
    {
        return egresos.Sum(egresos => egresos.Valor);
    }

    string FormatearFechaFin(DateTime? fecha)
    {
        if (!fecha.HasValue)
        {
            return "";
        }

        return fecha.Value.ToString("yyyy/MM/dd");
    }
    string FormatearFechaCuota(DateTime? fecha)
    {
        if (!fecha.HasValue)
        {
            return "";
        }

        return fecha.Value.ToString("yyyy/MM/dd");
    }

    string FormatearNroCuota(int? nroCuota)
    {
        if (!nroCuota.HasValue)
        {
            return "";
        }

        return nroCuota.Value.ToString();
    }


    var sumatoriaIngresos = SumatoriaIngresos(Model.Ingresos);
    var sumatoriaEgresos = SumatoriaEgresos(Model.Egresos);
    var diferenciaIE = sumatoriaIngresos - sumatoriaEgresos;
}

<div class="text-center">
    <h1 class="display-4">Manejo de Gastos!</h1>
</div>

<div class="text-center">
    <h1>@Model.Fecha.ToString("MM/yy")</h1>
    <div class="btn-group" role="group">
        <form asp-action="MesAnterior" method="post" class="me-2">
            <input type="hidden" name="fecha" value="@Model.Fecha.ToString("yyyy-MM-dd")" />
            <button type="submit" class="btn btn-primary">Mes Anterior</button>
        </form>
        <form asp-action="SiguienteMes" method="post">
            <input type="hidden" name="fecha" value="@Model.Fecha.ToString("yyyy-MM-dd")" />
            <button type="submit" class="btn btn-primary">Mes Siguiente</button>
        </form>
    </div>
</div>

<!-- Columna de Resumen (Placeholder) -->
<div class="text-center">
    <h2>Resumen</h2>
    <span>Ingresos: @sumatoriaIngresos</span> <br />
    <span>Egresos: @sumatoriaEgresos</span> <br />
    <span>Diferencia I-E: @diferenciaIE</span>
</div>

<!-- Reorganización en tres columnas -->
<div class="row">
    <!-- Columna de Ingresos -->
    <div class="col-md-6">
        <div class="text-center">
        <h2>Ingresos</h2>
        <a asp-action="CreateIngreso" asp-route-fechaIndex="@Model.Fecha.ToString("yyyy/MM/dd")" class="btn btn-primary mb-3">Crear un Ingreso</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Fecha Registro</th>
                    <th>Fecha Fin</th>
                    <th>Tipo Ingreso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="filaIngreso">
                @foreach (var ingreso in Model.Ingresos)
                {
                    <tr>
                        <td>@ingreso.Nombre</td>
                        <td>@ingreso.Valor</td>
                        <td>@ingreso.FechaRegistro.ToString("yyyy/MM/dd")</td>
                        <td>@FormatearFechaFin(ingreso.FechaFin)</td>
                        <td>@ObtenerTipoIngreso(ingreso.IdTipoIngreso)</td>
                        <td>
                            <a asp-action="EditIngreso" asp-route-id="@ingreso.IdIngreso" asp-route-fechaIndex="@Model.Fecha.ToString("yyyy-MM-dd")" class="btn btn-info">
                            <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-action="DeleteIngreso" asp-route-id="@ingreso.IdIngreso" asp-route-fechaIndex="@Model.Fecha.ToString("yyyy-MM-dd")" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Columna de Egresos (Placeholder) -->
    <div class="col-md-6">
        <div class="text-center">
        <h2>Egresos</h2>
            <a asp-action="CreateEgreso" asp-route-fechaIndex="@Model.Fecha.ToString("yyyy-MM-dd")" class="btn btn-primary mb-3">Crear un Egreso</a>
        </div>
        <!-- Aquí puedes agregar la tabla o la información de los egresos -->
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Fecha Registro</th>
                    <th>Fecha Cuota</th>
                    <th>Nro Cuota</th>
                    <th>Fecha Fin</th>
                    <th>Tipo Egreso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="filaEgresos">
                @foreach (var egreso in Model.Egresos)
                {
                    <tr>
                        <td>@egreso.Nombre</td>
                        <td>@egreso.Valor</td>
                        <td>@egreso.FechaRegistro.ToString("yyyy/MM/dd")</td>
                        <td>@FormatearFechaCuota(egreso.FechaCuota)</td>
                        <td>@FormatearNroCuota(egreso.CuotaNro)</td>
                        <td>@FormatearFechaFin(egreso.FechaFin)</td>
                        <td>@ObtenerTipoEgreso(egreso.IdTipoEgreso)</td>
                        <td>
                            <a asp-action="EditEgreso" asp-route-id="@egreso.IdEgreso" asp-route-fechaIndex="@Model.Fecha.ToString("yyyy-MM-dd")" class="btn btn-info">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-action="DeleteEgreso" asp-route-id="@egreso.IdEgreso" asp-route-fechaIndex="@Model.Fecha.ToString("yyyy-MM-dd")" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>